.label {
  width: 196px;
  text-align: right;
  padding-right: 32px;
  margin-bottom: 30px;
}

.change-password input {
  width: 370px;
  border: 0.6px solid rgba(219, 219, 219, 1);
  border-radius: 8px;
  padding-left: 20px;
  height: 35px;
}


.submit-btn {
  width: fit-content;
  padding: 2px 20px;
  background-color: rgba(0, 149, 246, 1);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
  margin: auto;
  margin-bottom: 20px;
}

.btn-center {
    display: flex;
}